@model IEnumerable<BAL.ViewModels.WebsiteInfoViewModel>

@if (ViewBag.HaveRecords == true)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WebsiteID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebsiteName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactEmailID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cell)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficePhone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebsiteID)
                    </td>
                    <td>
                        <a href="javascript:void(0)" onclick="CRUDActions('details','@item.WebsiteID')">@item.WebsiteName</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactEmailID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfficePhone)
                    </td>
                    <td>
                        <a href="javascript:void(0)" onclick="CRUDActions('edit','@item.WebsiteID')">Edit</a> |
                        <a href="javascript:void(0)" onclick="CRUDActions('details','@item.WebsiteID')">Details</a> |
                        <a href="javascript:void(0)" onclick="CRUDActions('delete','@item.WebsiteID')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center font-weight-bold m-5">No Records Found!</div>
}