@model IEnumerable<BAL.ViewModels.WebsiteInfoViewModel>

@{
    ViewData["Title"] = "Websites";
}

<h1>All Websites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewBag.Message!=null)
{
<p>
    <code class="@ViewBag.Class font-weight-bold">@ViewBag.Message</code>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficePhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.WebsiteID }) |
                @Html.ActionLink("Details", "Details", new { id=item.WebsiteID  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.WebsiteID }, new { onclick="return confirm('Do you want to delete this?')" })
            </td>
        </tr>
}
    </tbody>
</table>
