@model BAL.ViewModels.Product.SubCatGalleryViewModel

@{
    ViewData["Title"] = (Model != null && Model.SubCatGalleryID > 0) ? "Edit" : "Create";
}
<h1>@ViewData["Title"]</h1>

<div id="main-form">
    <div>
        <a href="@BAL.Common.WEBSITEPATH/subcatgallery/index/@ViewBag.SubCategoryID/@ViewBag.CategoryID"><img alt="Back to Sub Category Gallery" title="Back to Sub Category Gallery" src="~/img/back.png" border="0" style="border:none;" /></a>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form id="uploadForm" asp-action="FileUpload" enctype="multipart/form-data" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Category Drop Down List -->
                <div class="form-group">
                    <input type="hidden" asp-for="SubCatGalleryID" />
                    <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                    <select id="CategoryID" class="form-control" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID","CategoryName"))">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>

                <!-- Sub Category Drop Down List -->
                <div class="form-group">
                    <label asp-for="SubCategoryName" class="control-label font-weight-bold"></label>
                    <div id="divSubCategoryList"></div>
                    <input type="hidden" id="hdnSubCategoryID" value="@ViewBag.SubCategoryID" />
                </div>

                <!-- Multiple Upload -->
                <div class="form-group">
                    <div class="buttons">
                        <div class="upload-button">
                            <div class="label">Upload Multiple Files!</div>
                            <input id="files" name="files" type="file" multiple />
                        </div>
                    </div>
                    <div id="file-upload-filename"></div>
                </div>
                <!-- Submit/Cancel Buttons -->
                <div class="form-group">
                    <input type="button" id="btnSubmit" value="Submit" onclick="SaveWebsiteDetails('files');" class="btn btn-primary" />
                    <a class="btn btn-secondary" href="@BAL.Common.WEBSITEPATH/subcatgallery/index/@ViewBag.SubCategoryID/@ViewBag.CategoryID">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a href="@BAL.Common.WEBSITEPATH/subcatgallery/index/@ViewBag.SubCategoryID/@ViewBag.CategoryID"><img alt="Back to Sub Category Gallery" title="Back to Sub Category Gallery" src="~/img/back.png" border="0" style="border:none;" /></a>
    </div>
</div>

<div class="row hide" id="loading-image">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/img/loader.gif" />
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/subcatgallery.js" asp-append-version="true"></script>
}
