@model BAL.ViewModels.Product.ProductSizeAndPriceViewModel

@{
    ViewData["Title"] = (Model != null && Model.ProductSizeAndPriceID > 0) ? "Edit" : "Create";
    Layout = null;
}

<div>
    <a href="javascript:void(0)" onclick="LoadProductSizeAndPriceList();"><customicon type="back" title="Back to Door Types"></customicon></a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="frmSizeAndPriceForm" asp-action="@ViewData["Title"]" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-right">
                <input type="button" value="Submit" onclick="SaveSizeAndPriceDetails();" class="btn btn-primary" /> |
                <a href="javascript:void(0)" onclick="LoadProductSizeAndPriceList();" class="btn btn-secondary">Cancel</a>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="hidden" asp-for="ProductSizeAndPriceID" />
                        <input type="hidden" asp-for="ProductAttributeID" value="@ViewBag.ProductAttributeID" />
                        <input type="hidden" asp-for="SupplierID" id="ctlSupplierID" />
                        <input type="hidden" asp-for="InboundCost" id="ctlInboundCost" />
                        <input type="hidden" asp-for="TransportationCost" id="ctlTransportationCost" />
                        <input type="hidden" asp-for="LandedCost" id="ctlLandedCost" />
                        <input type="hidden" asp-for="CreatedDateTime" />
                        <label asp-for="ProductCode" class="control-label font-weight-bold"></label>
                        <input asp-for="ProductCode" class="form-control" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProductHeightID" class="control-label font-weight-bold"></label>
                        <select id="ddlProductSizes" class="form-control" asp-for="ProductHeightID" asp-items="@(new SelectList(ViewBag.ProductSizes, "ProductHeightID", "ProductHeightName"))">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="ProductHeightID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CurrencyID" class="control-label font-weight-bold"></label>
                        <select id="ddlCurrencies" class="form-control" asp-for="CurrencyID" asp-items="@(new SelectList(ViewBag.Currencies, "CurrencyID", "CurrencyName"))">
                            <option value="">--Select--</option>
                        </select>
                        <span asp-validation-for="CurrencyID" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PriceDate" class="control-label font-weight-bold"></label>
                        <input id="ctlPriceDate" asp-for="PriceDate" class="form-control" />
                        <span asp-validation-for="PriceDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="InvDate" class="control-label font-weight-bold"></label>
                        <input id="ctlInvDate" asp-for="InvDate" class="form-control" />
                        <span asp-validation-for="InvDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="RetailPriceDisc" class="control-label font-weight-bold"></label>
                        <input id="ctlRetailPriceDisc" asp-for="RetailPriceDisc" onkeyup="CalculatePrice();" class="form-control" />
                        <span asp-validation-for="RetailPriceDisc" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label font-weight-bold">Select Supplier:</label>
                </div>
            </div>

            @{
                for (int count = 0; count < Model.SupplierList.Count(); count++)
                {
                    <div class="row backcolor">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1 valign mb-2">
                                                        <div class="form-group">
                                                            @if (@Model.SupplierList[count].SupplierID == Model.SupplierID)
                                                            {
                                                                <script>countNo=@count</script> <!-- SET COUNT VALUE IN EDIT MODE -->
                                                                <input asp-for="SupplierName" id="rdbSupplier_@count" value="@Model.SupplierList[count].SupplierID" onclick="CalculateSellingPrice(@count);" type="radio" class="form-control" checked="checked" />
                                                            }
                                                            else
                                                            {
                                                                <input asp-for="SupplierName" id="rdbSupplier_@count" value="@Model.SupplierList[count].SupplierID" onclick="CalculateSellingPrice(@count);" type="radio" class="form-control" />
                                                            }

                                                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                                                        </div>
                                        </div>
                                        <div class="col-md-2 valign">
                                            <div class="form-group">
                                                <label class="control-control font-weight-bold">@Model.SupplierList[count].SupplierName</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="InboundCostDisplay" class="control-label font-weight-bold"></label>
                                                <input id="ctlInboundCost_@count" asp-for="InboundCost" value="@Model.SupplierList[count].InboundCost" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="TransportationCostDisplay" class="control-label font-weight-bold"></label>
                                                <input id="ctlTransportationCost_@count" asp-for="TransportationCost" value="@Model.SupplierList[count].TransportationCost" class="form-control" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="LandedCostDisplay" class="control-label font-weight-bold"></label>
                                                <input id="ctlLandedCost_@count" asp-for="LandedCost" value="@Model.SupplierList[count].LandedCost" class="form-control" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="PriceVoid" class="control-label font-weight-bold"></label>
                        <input asp-for="PriceVoid" class="form-control" />
                        <span asp-validation-for="PriceVoid" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label asp-for="Markup" class="control-label font-weight-bold"></label>
                                        <input id="ctlMarkup" onkeyup="CalculatePrice();" asp-for="Markup" class="form-control" />
                                        <span asp-validation-for="Markup" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-0"><label class="control-label font-weight-bold pt-5">%</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="SellingPrice" class="control-label font-weight-bold"></label>
                        <input id="ctlSellingPrice" asp-for="SellingPrice" class="form-control" />
                        <span asp-validation-for="SellingPrice" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group text-right">
                <input type="button" value="Submit" onclick="SaveSizeAndPriceDetails();" class="btn btn-primary" /> |
                <a href="javascript:void(0)" onclick="LoadProductSizeAndPriceList();" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}