@model BAL.ViewModels.Product.CategoryViewModel

@{
    ViewData["Title"] = (Model != null && Model.CategoryID > 0) ? "Edit" : "Create";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a href="@BAL.Common.WEBSITEPATH/category/index/@ViewBag.SectionID"><customicon type="back" title="Back to Categories"></customicon></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@ViewBag.SectionID" class="btn btn-secondary">Cancel</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" asp-for="CategoryID" />
                <label asp-for="SectionName" class="control-label font-weight-bold"></label>
                <select id="ddlSections" class="form-control" asp-for="SectionID" asp-items="@(new SelectList(ViewBag.Sections, "SectionID","SectionName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="SectionID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label font-weight-bold"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryOrder" class="control-label font-weight-bold"></label>
                <input asp-for="CategoryOrder" class="form-control" />
                <span asp-validation-for="CategoryOrder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> <label asp-for="IsActive" class="control-label font-weight-bold"></label>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@ViewBag.SectionID" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@BAL.Common.WEBSITEPATH/category/index/@ViewBag.SectionID"><customicon type="back" title="Back to Categories"></customicon></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @if (@ViewBag.SectionID != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#ddlSections').val(@ViewBag.SectionID);
            });
        </script>
    }
}
