<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit", controllers: "Product,ProductAttribute,ProductSizeAndPrice,ProductImages")" asp-area="Product" asp-controller="Product" asp-action="Index">Products</a>
        </li>
        @*<li>
            <hr />
        </li>
        <li class="backcolor font-weight-bold text-center">
            Master Entries
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductDesign")" asp-area="Product" asp-controller="ProductDesign" asp-action="Index">Product Designs</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductGrade")" asp-area="Product" asp-controller="ProductGrade" asp-action="Index">Product Grades</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit", controllers: "DoorType")" asp-area="Product" asp-controller="DoorType" asp-action="Index">Door Types</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductHeight")" asp-area="Product" asp-controller="ProductHeight" asp-action="Index">Product Heights</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductWidth")" asp-area="Product" asp-controller="ProductWidth" asp-action="Index">Product Widths</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductThickness")" asp-area="Product" asp-controller="ProductThickness" asp-action="Index">Product Thicknesses</a>
        </li>*@
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "Supplier")" asp-area="Product" asp-controller="Supplier" asp-action="Index">Suppliers</a>
        </li>
        <li class="nav-item backcolor">
            <a class="nav-link text-dark @Html.IsSelected(actions: "Index,Details,Create,Edit,", controllers: "ProductGlobalSettings")" asp-area="Product" asp-controller="ProductGlobalSettings" asp-action="Index">Global Settings</a>
        </li>
        <li>
            <hr />
        </li>
    </ul>
</div>