@model IEnumerable<BAL.ViewModels.Product.ProductViewModel>

@if (ViewBag.HaveRecords == true)
{
    <table class="table">
        <thead>
            <tr>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.DisplayProductName)
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th width="20%">
                    @Html.DisplayNameFor(model => model.SubCategoryName)
                </th>
                <th width="20%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoryName)
                    </td>
                    <td>
                        <div class="row">
                            <a href="@BAL.Common.WEBSITEPATH/product/product/edit/@item.ProductID"><customicon type="edit" title="Edit Product"></customicon></a>&#160;&#160;|&#160;&#160;
                            <a href="@BAL.Common.WEBSITEPATH/product/product/delete/@item.ProductID" onclick="return confirm('Do you want to delete this record?')"><customicon type="delete" title="Delete Product"></customicon></a>
                        </div>
                        <div class="row pt-2"><a href="@BAL.Common.WEBSITEPATH/product/product/details/@item.ProductID"><customicon type="details" title="Show More Details"></customicon></a> <br /></div>
                        <div class="row pt-0"><a href="@BAL.Common.WEBSITEPATH/product/productattribute/index/@item.ProductID"><customicon type="details" text="Set Prices & Sizes" title="Set Prices & Sizes"></customicon></a> <br /></div>
                        <div class="row pt-0"><a href="@BAL.Common.WEBSITEPATH/product/productimages/index/@item.ProductID"><customicon type="details" text="Product Images" title="Product Images"></customicon></a> <br /></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center font-weight-bold m-5">
        <div class="form-control">No Records Found!</div>
        <div class="form-control">
            <a asp-action="Create">Create New Product</a>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/common.js" asp-append-version="true"></script>
}