@model BAL.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = (Model != null && Model.ProductID > 0) ? "Edit" : "Create";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Products"></customicon></a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="@ViewData["Title"]">
            @Html.AntiForgeryToken()
            <div class="form-group text-right">
                <input type="submit" value="Submit" onclick="SetSubCatVal();" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductID" />
                <label asp-for="ProductName" class="control-label font-weight-bold"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDesc" class="control-label font-weight-bold"></label>
                <textarea asp-for="ProductDesc" class="form-control" rows="6"></textarea>
                <span asp-validation-for="ProductDesc" class="text-danger"></span>
            </div>
            
            <!-- Bind Category List-->
            @if (ViewBag.Categories != null)
            {
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                    <select class="form-control" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID","CategoryName"))">
                        <option value="null">--Select--</option>
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
            }

            <!-- Sub Category Drop Down List -->
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label font-weight-bold"></label>
                <div id="divSubCategoryList"></div>
                <input type="hidden" asp-for="SubCategoryID" id="hdnSubCategoryID" />
            </div>

            <!-- Bind Product Design List-->
            @if (ViewBag.ProductDesigns != null)
            {
                <div class="form-group">
                    <label asp-for="ProductDesignName" class="control-label font-weight-bold"></label>
                    <select class="form-control" asp-for="ProductDesignID" asp-items="@(new SelectList(ViewBag.ProductDesigns, "ProductDesignID", "ProductDesignName"))">
                        <option value="null">--Select--</option>
                    </select>
                    <span asp-validation-for="ProductDesignID" class="text-danger"></span>
                </div>
            }

            <!-- Bind Product Grade List-->
            @if (ViewBag.ProductGrades != null)
            {
                <div class="form-group">
                    <label asp-for="ProductGradeName" class="control-label font-weight-bold"></label>
                    <select class="form-control" asp-for="ProductGradeID" asp-items="@(new SelectList(ViewBag.ProductGrades, "ProductGradeID","ProductGradeName"))">
                        <option value="null">--Select--</option>
                    </select>
                    <span asp-validation-for="ProductGradeID" class="text-danger"></span>
                </div>
            }

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group text-right">
                <input type="submit" value="Submit" onclick="SetSubCatVal();" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Door Types"></customicon></a>
</div>

@section scripts{
    <script src="~/js/product/product/create.js" asp-append-version="true"></script>
}
