@model BAL.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = (Model != null && Model.ProductID > 0) ? "Edit" : "Create";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Products"></customicon></a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="@ViewData["Title"]">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductID" />
                <label asp-for="ProductName" class="control-label font-weight-bold"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label font-weight-bold"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDesc" class="control-label font-weight-bold"></label>
                <textarea asp-for="ProductDesc" class="form-control" rows="6"></textarea>
                <span asp-validation-for="ProductDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityNumber" class="control-label font-weight-bold"></label>
                <input asp-for="PriorityNumber" class="form-control" />
                <span asp-validation-for="PriorityNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label font-weight-bold"></label>
                <textarea asp-for="Notes" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupNumber" class="control-label font-weight-bold"></label>
                <input asp-for="GroupNumber" class="form-control" />
                <span asp-validation-for="GroupNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingCode" class="control-label font-weight-bold"></label>
                <input asp-for="BuildingCode" class="form-control" />
                <span asp-validation-for="BuildingCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationCode" class="control-label font-weight-bold"></label>
                <input asp-for="LocationCode" class="form-control" />
                <span asp-validation-for="LocationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label font-weight-bold"></label>
                <input asp-for="SupplierID" class="form-control" />
                <span asp-validation-for="SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierModeCode" class="control-label font-weight-bold"></label>
                <input asp-for="SupplierModeCode" class="form-control" />
                <span asp-validation-for="SupplierModeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeadTime" class="control-label font-weight-bold"></label>
                <input asp-for="LeadTime" class="form-control" />
                <span asp-validation-for="LeadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetailBin" class="control-label font-weight-bold"></label>
                <input asp-for="RetailBin" class="form-control" />
                <span asp-validation-for="RetailBin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WholeSaleBin" class="control-label font-weight-bold"></label>
                <input asp-for="WholeSaleBin" class="form-control" />
                <span asp-validation-for="WholeSaleBin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndexNumber" class="control-label font-weight-bold"></label>
                <input asp-for="IndexNumber" class="form-control" />
                <span asp-validation-for="IndexNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalMarkup" class="control-label font-weight-bold"></label>
                <input asp-for="PracticalMarkup" class="form-control" />
                <span asp-validation-for="PracticalMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PracticalCost" class="control-label font-weight-bold"></label>
                <input asp-for="PracticalCost" class="form-control" />
                <span asp-validation-for="PracticalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetailMarkupDisc" class="control-label font-weight-bold"></label>
                <input asp-for="RetailMarkupDisc" class="form-control" />
                <span asp-validation-for="RetailMarkupDisc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetailMarkup" class="control-label font-weight-bold"></label>
                <input asp-for="RetailMarkup" class="form-control" />
                <span asp-validation-for="RetailMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivePriceDisc" class="control-label font-weight-bold"></label>
                <input asp-for="LivePriceDisc" class="form-control" />
                <span asp-validation-for="LivePriceDisc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivePrice" class="control-label font-weight-bold"></label>
                <input asp-for="LivePrice" class="form-control" />
                <span asp-validation-for="LivePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label font-weight-bold"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>

            <!-- Bind Category List-->
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                <select class="form-control" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID","CategoryName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>

            <!-- Sub Category Drop Down List -->
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label font-weight-bold"></label>
                <div id="divSubCategoryList"></div>
                <input type="hidden" asp-for="SubCategoryID" id="hdnSubCategoryID" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" onclick="SetSubCatVal();" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Door Types"></customicon></a>
</div>

@section scripts{ 

    <script>
        var isFirstLoad = true;
        // Category ID List Selected Index Change Event
        $("#CategoryID").change(function () {            
            BindSubCategoryList(this.value);
        });

        // Bind Sub Category List
        function BindSubCategoryList(id) {
            $('#divSubCategoryList').html("Loading...");

            // Ajax Call
            $.ajax({
                type: 'GET',
                url: '/subcatgallery/bindsubcategories/' + id,
                success: function (result) {
                    $('#divSubCategoryList').html(result);

                    // Set the Sub Category Value from the Query String for the first time
                    if (isFirstLoad) {
                        $('#SubCategoryID').val($('#hdnSubCategoryID').val());
                        isFirstLoad = false;
                    }
                },
            });
        }

        // A $( document ).ready() block.
        $(document).ready(function () {
            BindSubCategoryList($('#CategoryID :selected').val());
        });

        function SetSubCatVal() {
            $("#hdnSubCategoryID").val($('#SubCategoryID').val());
        }
    </script>

}