@model BAL.ViewModels.Product.ProductViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>Product Details</h1>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Products"></customicon> </a> |
    <a href="@BAL.Common.WEBSITEPATH/product/product/edit/@Model.ProductID"><customicon type="edit" title="Edit Product"></customicon></a> |
    <a href="@BAL.Common.WEBSITEPATH/product/product/delete/@Model.ProductID" onclick="return confirm('Do you want to delete this record?')"><customicon type="delete" title="Delete Product"></customicon></a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DisplayProductName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DisplayProductName)
        </dd>
        @*<dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>*@
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PriorityNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PriorityNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.GroupNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GroupNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BuildingCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BuildingCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LocationCode)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LocationCode)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RetailBin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RetailBin)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WholeSaleBin)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WholeSaleBin)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IndexNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IndexNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BestQuantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BestQuantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CurrentQuantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CurrentQuantity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.IPAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.IPAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Products"></customicon> </a> |
    <a href="@BAL.Common.WEBSITEPATH/product/product/edit/@Model.ProductID"><customicon type="edit" title="Edit Product"></customicon></a> |
    <a href="@BAL.Common.WEBSITEPATH/product/product/delete/@Model.ProductID" onclick="return confirm('Do you want to delete this record?')"><customicon type="delete" title="Delete Product"></customicon></a>
</div>