@model IEnumerable<BAL.ViewModels.Product.ProductSizeAndPriceViewModel>

@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    int heightCount = 0;
    @foreach (var item in Model)
    {
        string _backColor = "";
        if (heightCount % 2 != 0)
        {
            _backColor = "#F9F9FA";
        }
        if (heightCount == 0)
        {
            <script>
                _heights = @item.ProductHeightID;
            </script>
        }
        else
        {
            <script>
                _heights = _heights + ',' + @item.ProductHeightID;
            </script>
        }
        ++heightCount;

        <!-- ID Structure: PropertyName_ProductThicknessID_ProductHeightID_ProductHeightID -->
        <div class="row text-center" style="background:@_backColor">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="hidden" id="@String.Concat("hdnLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                    <input type="hidden" asp-for="@item.ProductSizeAndPriceID" id="@String.Concat("ProductSizeAndPriceID_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                    <label class="control-label font-weight-bold" asp-for="@item.ProductHeightName"></label>
                    <input readonly asp-for="@item.ProductHeightName" id="@String.Concat("ProductHeightID_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" class="form-control" style="background-color:#969696;color:#FFF" />
                    <span asp-validation-for="@item.ProductHeightName" class="text-danger"></span>
                    <label class="control-label font-weight-bold" asp-for="@item.ProductHeightName">@String.Concat("(T", Model.First().ThicknessName, "_W", Model.First().WidthName, ")")</label>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="@item.ProductCode" class="control-label font-weight-bold"></label>
                            <input asp-for="@item.ProductCode" readonly class="form-control" id="@String.Concat("ProductCode_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" name="@String.Concat("ProductCode_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                            <span asp-validation-for="@item.ProductCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="@item.Description" class="control-label font-weight-bold"></label>
                            <input asp-for="@item.Description" readonly class="form-control text-left" id="@String.Concat("Description_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" name="@String.Concat("Description_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                            <span asp-validation-for="@item.Description" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@item.PriceDate" class="control-label font-weight-bold"></label>
                            <input asp-for="@item.PriceDate" class="form-control" id="@String.Concat("PriceDate_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                            <span asp-validation-for="@item.PriceDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@item.InvDate" class="control-label font-weight-bold"></label>
                            <input asp-for="@item.InvDate" class="form-control" id="@String.Concat("InvDate_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" />
                            <span asp-validation-for="@item.InvDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@item.Markup" id="@String.Concat("MarkupPer_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" class="control-label font-weight-bold">@item.MarkupDisplay</label>
                            <input id="@String.Concat("Markup_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" onkeyup="CalculatePrice(@String.Concat("hdnLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID));" asp-for="@item.Markup" class="form-control" />
                            <span asp-validation-for="@item.Markup" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="@item.RetailPriceDisc" id="@String.Concat("RetailPriceDiscPer_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" class="control-label font-weight-bold">@item.RetailDiscDisplay</label>
                            <input id="@String.Concat("RetailPriceDisc_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" asp-for="@item.RetailPriceDisc" onkeyup="CalculatePrice(@String.Concat("hdnLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID));" class="form-control" />
                            <span asp-validation-for="@item.RetailPriceDisc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        @{
                            for (int count = 0; count < item.ProductSuppliers.Count(); count++)
                            {
                                if (count == 0)
                                {
                                    <script>
                                _suppliers = @item.ProductSuppliers[count].SupplierID;
                                    </script>
                                }
                                else
                                {
                                    <script>
                                _suppliers = _suppliers + ',' + @item.ProductSuppliers[count].SupplierID;
                                    </script>
                                }

                                <!-- ID Structure: PropertyName_ProductThicknessID_ProductHeightID_ProductWidthID_SupplierID -->
                                <div class="row backcolor">
                                    <div class="col-md-2 valign">
                                        <div class="form-group">
                                            <input type="hidden" id="@String.Concat("ProductSupplierID_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].ProductSupplierID" />
                                            <input type="hidden" id="@String.Concat("SupplierID_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].SupplierID" />
                                            <label class="control-control font-weight-bold">@item.ProductSuppliers[count].SupplierName</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @if (@count == 0)
                                                    {<label asp-for="@item.ProductSuppliers[count].InboundCostDisplay" class="control-label font-weight-bold"></label>}
                                                    <input asp-for="@item.ProductSuppliers[count].InboundCost" class="form-control" id="@String.Concat("InboundCost_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" onchange="CalculateSupplierCost('@String.Concat("InboundCost_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)');" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @if (@count == 0)
                                                    {<label asp-for="@item.ProductSuppliers[count].TransportationCostDisplay" class="control-label font-weight-bold"></label>}
                                                    <input asp-for="@item.ProductSuppliers[count].TransportationCost" class="form-control" id="@String.Concat("TransportationCost_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" onchange="CalculateSupplierCost('@String.Concat("TransportationCost_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)');" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @if (@count == 0)
                                                    {<label asp-for="@item.ProductSuppliers[count].LandedCostDisplay" class="control-label font-weight-bold"></label>}
                                                    <input asp-for="@item.ProductSuppliers[count].LandedCost" class="form-control" id="@String.Concat("LandedCost_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" onkeyup="CalculateSellingPrice('@String.Concat("rdoLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)');" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            @if (@count == 0)
                                            {<label asp-for="@item.ProductSuppliers[count].SupplierOption" class="control-label font-weight-bold"></label>}

                                            @if (item.ProductSuppliers[count].IsOption)
                                            {
                                                <input asp-for="@item.ProductSuppliers[count].IsOption" id="@String.Concat("SupplierOption_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].SupplierID" type="checkbox" class="form-control" checked="checked" />
                                            }
                                            else
                                            {
                                                <input asp-for="@item.ProductSuppliers[count].IsOption" id="@String.Concat("SupplierOption_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].SupplierID" type="checkbox" class="form-control" />
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            @if (@count == 0)
                                            {<label asp-for="@item.ProductSuppliers[count].Live" class="control-label font-weight-bold"></label>}

                                            @if (item.ProductSuppliers[count].IsLive)
                                            {
                                                <input asp-for="@item.ProductSuppliers[count].IsLive" name="@Model.First().ThicknessIDWidthID&@item.ProductHeightID" onclick="CalculateSellingPrice(this.id);" id="@String.Concat("LiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].SupplierID" checked="checked" type="radio" class="form-control" />
                                                <script>
                                                    $(@String.Concat("hdnLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)).val(@item.ProductSuppliers[count].SupplierID);
                                                    CalculateSellingPrice('@String.Concat("rdoLiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)');
                                                </script>
                                            }
                                            else
                                            {
                                                <input asp-for="@item.ProductSuppliers[count].IsLive" name="@Model.First().ThicknessIDWidthID&@item.ProductHeightID" onclick="CalculateSellingPrice(this.id);" id="@String.Concat("LiveSupplier_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID, "_", @item.ProductSuppliers[count].SupplierID)" value="@item.ProductSuppliers[count].SupplierID" type="radio" class="form-control" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-md-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@item.SellingPrice" class="control-label font-weight-bold"></label>
                                <input id="@String.Concat("SellingPrice_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" asp-for="@item.SellingPrice" class="form-control font-weight-bold" style="background-color:#525252;color:#FFFFFF" />
                                <span asp-validation-for="@item.SellingPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@item.PriceVoid" class="control-label font-weight-bold"></label>
                                <input asp-for="@item.PriceVoid" id="@String.Concat("PriceVoid_", @Model.First().ThicknessIDWidthID, "_", @item.ProductHeightID)" class="form-control font-weight-bold" style="background-color:#525252;color:#FFFFFF" />
                                <span asp-validation-for="@item.PriceVoid" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    }
}
