@model BAL.ViewModels.Product.ProductAttributeViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>Product Attribute Details</h1>

<div>
    <a asp-action="Index" asp-route-id="@Model.ProductID"><customicon type="back" title="Back to Product Attribute"></customicon> </a>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="@ViewData["Title"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductAttributeID" />
                <input type="hidden" asp-for="ProductID" />
            </div>
            <div class="form-group">
                <label asp-for="DoorTypeName" class="control-label font-weight-bold"></label>
                <select id="dllDoorTypes" class="form-control" asp-for="DoorTypeID" asp-items="@(new SelectList(ViewBag.DoorTypes, "DoorTypeID","DoorTypeName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="DoorTypeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrencyName" class="control-label font-weight-bold"></label>
                <select id="dllCurrencies" class="form-control" asp-for="CurrencyID" asp-items="@(new SelectList(ViewBag.Currencies, "CurrencyID","CurrencyName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CurrencyID" class="text-danger"></span>
            </div>

            @{
                for (int count = 0; count < Model.SupplierList.Count(); count++)
                {
                    <div class="row backcolor">
                        <div class="col-md-1 valign mb-2">
                            <div class="form-group">
                                @if (@Model.SupplierList[count].SupplierID == Model.SupplierID)
                                {
                                    <script>countNo=@count</script>
                                    <!-- SET COUNT VALUE IN EDIT MODE -->
                                    <input asp-for="SupplierName" id="rdbSupplier_@count" value="@Model.SupplierList[count].SupplierID" onclick="CalculateSellingPrice(@count);" type="radio" class="form-control" checked="checked" />
                                }
                                else
                                {
                                    <input asp-for="SupplierName" id="rdbSupplier_@count" value="@Model.SupplierList[count].SupplierID" onclick="CalculateSellingPrice(@count);" type="radio" class="form-control" />
                                }

                                <span asp-validation-for="SupplierName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-2 valign">
                            <div class="form-group">
                                <label class="control-control font-weight-bold">@Model.SupplierList[count].SupplierName</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="InboundCostDisplay" class="control-label font-weight-bold"></label>
                                <input id="ctlInboundCost_@count" asp-for="InboundCost" value="@Model.SupplierList[count].InboundCost" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="TransportationCostDisplay" class="control-label font-weight-bold"></label>
                                <input id="ctlTransportationCost_@count" asp-for="TransportationCost" value="@Model.SupplierList[count].TransportationCost" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="LandedCostDisplay" class="control-label font-weight-bold"></label>
                                <input id="ctlLandedCost_@count" asp-for="LandedCost" value="@Model.SupplierList[count].LandedCost" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                }
            }


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" asp-route-id="@Model.ProductID" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/js/product/productattribute/details.js" asp-append-version="true"></script>
}