@model BAL.ViewModels.Product.SubCategoryViewModel

@{
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}

    <h1>@ViewData["Title"]</h1>

    <div>
        <a href="@BAL.Common.WEBSITEPATH/subcategory/index/@ViewBag.CategoryID"><customicon type="back" title="Back to Sub Categories"></customicon></a>
    </div>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="@ViewData["Title"]">
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="SubCategoryID" />
                <label asp-for="CategoryName" class="control-label font-weight-bold"></label>
                <select class="form-control" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID","CategoryName"))">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryName" class="control-label font-weight-bold"></label>
                <input asp-for="SubCategoryName" class="form-control" />
                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label font-weight-bold"></label>
                <textarea asp-for="Description" class="form-control" rows="10" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> <label asp-for="IsActive" class="control-label font-weight-bold"></label>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@BAL.Common.WEBSITEPATH/subcategory/index/@ViewBag.CategoryID"><customicon type="back" title="Back to Sub Categories"></customicon></a>
</div>

